/* ==================== Media Quary Setting Basic ==================== */
/* only PC : pc-only */
/* tablet width 1024*768 : tablet-w */
/* tablet height 1024*768 : tablet-h */
/* ipad mini 640px : ipad */
/* mobile middle 480px : mobile */
/* mobile small 360px : mobile-sm*/
/* ==================== The Grid System Demystified ==================== */
@media screen and (max-width: 480px) {
  .foo {
    margin: 0;
    padding: 0;
  }
}

/* mq-up and mq-down class */
.foo {
  color: blue;
}

@media screen and (min-width: 481px) {
  .foo {
    color: yellow;
  }
}

@media screen and (max-width: 480px) {
  .foo {
    color: red;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .foo {
    color: white;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .foo {
    color: black;
  }
}
