@charset "UTF-8";
/* ==================== text ellipsis ==================== */
.ellipsis__one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ellipsis__two {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ellipsis__three {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* ==================== bakcground-size: cover ====================  */
.sample-background-cover {
  width: 100%;
  height: 0;
  padding-top: calc 30%;
  /* calc（image height / image weight * 100%） */
  background-image: url("../img/sample.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ==================== When using ::before and ::after ====================  */
.sample-pseudo::after {
  content: "";
  display: block;
  position: absolute;
}

/* ==================== Circle ====================  */
.sample-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
