/* ==================== font-size ====================  */
$max: 36;
$offset: 1;
$unit: 'rem';

@mixin list-loop($className, $styleName) {
  $i: 8;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{($i / 10) + $unit};
    }

    $i: $i+$offset;
  }
}

@include list-loop('.fs-', 'font-size');

@mixin font-size($size, $base: 10) {
  // if html font-size 100% will be change $base: 16
  font-size: $size + px;
  font-size: ($size / $base) + rem;
}

.sample-font-size {
  @include font-size(15);
}