/* ==================== Reset css ==================== */

/* -------------------- Resetting margins, paddings, and borders -------------------- */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* -------------------- Typography -------------------- */
html {
  font-size: 62.5% !important;
  /* -> 10px , 1em , 1rem */
}

body {
  background-color: rgb(252, 251, 252);
  font-size: 1.6rem; //16px
  line-height: 1.4;
  //  chinese - TW,HK
  font-family: "微軟正黑體", "Microsoft JhengHei", "Microsoft JhengHei UI", “微軟雅黑”, "Microsoft YaHei", "Microsoft YaHei UI", sans-serif;
  //  chinese - CN
  // font-family: LiSu, STLiti, "Microsoft YaHei",
  //   微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* -------------------- Layout -------------------- */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* -------------------- Elements -------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

/* -------------------- Attributes & states -------------------- */
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

button,
button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

/* -------------------- Utility classes -------------------- */
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}