/* ==================== clearfix ====================  */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// export test
.sample-clearfix {
  @include clearfix;
}