/* ==================== _header.scss ==================== */
.headerWarp {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  height: 48px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  @include prefix(box-shadow, 0px 2px 4px 0px rgba(221, 221, 221, 0.5));
}

.header__inner {
  box-sizing: border-box;
  max-width: 1140px;
  flex: 1 1 0%;
  padding: 0px 20px;

  font: {
    weight: 700;
  }

  img {
    &.header__logo {
      height: 20px;

      margin: {
        top: 8px;
      }
    }
  }
}